@page "/register"
@using GnosisNet.Web.IServices
@inject IAuthService _authService


<div class="col-md-6 offset-3 form-sec">
<h3>Registration</h3>
@if (errorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @errorMessage
    </div>
}

<EditForm Model="@registrationModel" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="firstname">Firstname</label>
        <input type="text" class="form-control" id="firstname" @bind="registrationModel.FirstName" />
        <ValidationMessage For="@(() => registrationModel.FirstName)" />
    </div>
    <div class="form-group">
        <label for="lastname">Lastname</label>
        <input type="text" class="form-control" id="lastname" @bind="registrationModel.LastName" />
        <ValidationMessage For="@(() => registrationModel.LastName)" />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" @bind="registrationModel.Email" />
        <ValidationMessage For="@(() => registrationModel.Email)" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" @bind="registrationModel.Password" />
        <ValidationMessage For="@(() => registrationModel.Password)" />
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    <NavLink href="login" class="ml-5">existing user?</NavLink>
</EditForm>
</div>